{% extends 'main.html' %}
{% block content %}
{% if message %}
    <div class="alert alert-danger">{{ message }}</div>
{% endif %}
<style>
body {
    font-family: Cambria;
    height: 100%;
    
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
  text-align: center;
}
</style>
<div class="container">
    <div class="card card-body" style="border: 1px solid black; box-shadow: 0 0 10px black; background-color: #edc8ff">
        <h1>Pneumonia Prediction</h1>
        <br>
        <h2>Model Accuracies:</h2>
        <ul>
            
            <li>Pneumonia Model: <strong>91.35%</strong></li>
        </ul>
        <br>
        <h3>Information about the Diseases:</h3>
        
        <div class="row">
            <div class="col-md-12 card card-body" style="box-shadow: 0 0 5px black; margin: 5px; background-color: #daa8f4">
                <h4>Pneumonia</h4>
                <p>Pneumonia is an infection in one or both of your lungs caused by bacteria, viruses or fungi. When there is an infection in the lungs, several things happen, including:</p>
                <ul>
                    <li>Your airways swell (become inflamed)</li>
                    <li>The air sacs in the lungs fill with mucus and other fluids</li>
                </ul>
                <h5>Symptoms</h5>
                <ul>
                    <li>High fever (up to 105° F)</li>
                    <li>Tiredness (fatigue)</li>
                    <li>Cough with mucus (might be greenish in color or contain a small amount of blood)</li>
                    <li>Muscle pain</li>
                    <li>Sore throat</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
